@model OnADifferentNote.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
    @{
        if (Model.Products == null || Model.Products.Count == 0)
        {
            <div class="subhead">
            <p>Your cart is currently empty.</p>
             </div>
        }
        else
        {
            <div class="subhead">
                <h3>Your Shopping Cart</h3>
                <div class="totals">
                    <p>Subtotal: $@Model.Total</p>
                    <div class="calculations">
                        <p> + $@Model.Tax (6% tax)</p>
                        <p> + $15.00 (delivery fee) </p>
                    </div>
                    @{ Model.Total = Model.Total = Model.Total + Model.Tax + 15.00;}
                    <p><span class="special">Total: $@Model.Total</span></p>
                </div>
                <a href="#" class="button">Check Out</a>
            </div>
            <div class="cart-list">
                @{ foreach (var product in Model.Products) {
                        if (product.quantity > 1)
                        {
                            var productId = product.ProductId;
                            Model.Products.RemoveAll(p => p.ProductId == productId);
                        }
                        Html.RenderPartial("_CartProduct", product);
                    }
                }
                </div>
                        }
                    }


            @*<div class="product">
                    <a href="details.html">
                        <img class="cart-image" src="images/stalacpipe_organ.png" alt="Stalacpipe Organ" width="110" height="110">
                    </a>
                    <h4>Stalacpipe Organ</h4>
                    <p>$1,000,114.99</p>
                    <p><a href="details.html">Details</a></p>
                    <br />
                    Quantity: <input type="text" size="5" maxlength="5" value="1" />
                    <a href="#" class="button">Update</a>
                    <br />
                    <p>Total:<br /> $1,000,114.99</p>
                    <a href="#" class="button">Remove Item</a>
                </div>
                <div class="product">
                    <a href="details.html">
                        <img class="cart-image" src="images/jews_harp.png" alt="Jew's Harp" width="110" height="110">
                    </a>
                    <h4>Jew's Harp</h4>
                    <p>$19.99</p>
                    <p><a href="details.html">Details</a></p>
                    <br />
                    Quantity: <input type="text" size="5" maxlength="5" value="2" />
                    <a href="#" class="button">Update</a>
                    <br />
                    <p>Total: <br /> $39.98</p>
                    <a href="#" class="button">Remove Item</a>
                </div>*@
        </div>
