@{ 
    ViewBag.Title = "Products"
}
<div class="subhead">
    <h3>All Instruments</h3>
    <div class="sort">
        Sort: <input type="radio" name="sort" value="By Name" checked="checked" />By Name
        <input type="radio" name="sort" value="By Price" />By Price
    </div>
</div>
<div class="product-list">
    <div class="product">
        <h4>Calliope</h4>
        <a href="details.html">
            <img src="images/calliope.png" alt="Calliope" width="110" height="110" border="0" border="0">
        </a>
        <p>$49.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Carillon</h4>
        <a href="details.html">
            <img src="images/carillon.png" alt="Carillon" width="110" height="110" border="0">
        </a>
        <p>$199.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Carrot Flute</h4>
        <a href="details.html">
            <img src="images/carrot_flute.png" alt="Carrot Flute" width="110" height="110" border="0">
        </a>
        <p>$12.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Contrabass Balalaika</h4>
        <a href="details.html">
            <img src="images/contrabass_balalaika.png" alt="Contrabass Balalaika" width="110" height="110" border="0">
        </a>
        <p>$99.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Crwth</h4>
        <a href="details.html">
            <img src="images/crwth.png" alt="Crwth" width="110" height="110" border="0">
        </a>
        <p>$64.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Gameleste</h4>
        <a href="details.html">
            <img src="images/gameleste.png" alt="Gameleste" width="110" height="110" border="0">
        </a>
        <p>$79.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Glass Armonica</h4>
        <a href="details.html">
            <img src="images/glass_armonica.png" alt="Glass Armonica" width="110" height="110" border="0">
        </a>
        <p>$154.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Gravikord</h4>
        <a href="details.html">
            <img src="images/gravikord.png" alt="Gravikord" width="110" height="110" border="0">
        </a>
        <p>$82.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Hurdy Gurdy</h4>
        <a href="details.html">
            <img src="images/hurdy_gurdy.png" alt="Hurdy Gurdy" width="110" height="110" border="0">
        </a>
        <p>$54.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Hyrdaul-ophone</h4>
        <a href="details.html">
            <img src="images/hydraulophone.png" alt="Hydraulophone" width="110" height="110" border="0">
        </a>
        <p>$49.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Jew's Harp</h4>
        <a href="details.html">
            <img src="images/jews_harp.png" alt="Jew's Harp" width="110" height="110" border="0">
        </a>
        <p>$19.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Kaisatsuko</h4>
        <a href="details.html">
            <img src="images/kaisatsuko.png" alt="Kaisatsuko" width="110" height="110" border="0">
        </a>
        <p>$74.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Lur</h4>
        <a href="details.html">
            <img src="images/lur.png" alt="Lur" width="110" height="110" border="0">
        </a>
        <p>$37.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Musical Saw</h4>
        <a href="details.html">
            <img src="images/musical_saw.png" alt="Musical Saw" width="110" height="110" border="0">
        </a>
        <p>$64.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Otamatome</h4>
        <a href="details.html">
            <img src="images/otamatome.png" alt="Otamatome" width="110" height="110" border="0">
        </a>
        <p>$14.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Picasso Guitar</h4>
        <a href="details.html">
            <img src="images/picasso_guitar.png" alt="Picasso Guitar" width="110" height="110" border="0">
        </a>
        <p>$254.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Pyrophone</h4>
        <a href="details.html">
            <img src="images/pyrophone.png" alt="Pyrophone" width="110" height="110" border="0">
        </a>
        <p>$117.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Singing Ringing Tree</h4>
        <a href="details.html">
            <img src="images/singing_ringing_tree.png" alt="Singing Ringing Tree" width="110" height="110" border="0">
        </a>
        <p>$979.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Stalacpipe Organ</h4>
        <a href="details.html">
            <img src="images/stalacpipe_organ.png" alt="Stalacpipe Organ" width="110" height="110" border="0">
        </a>
        <p>$1,000,114.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Theremin</h4>
        <a href="details.html">
            <img src="images/theremin.png" alt="Theremin" width="110" height="110" border="0">
        </a>
        <p>$52.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Wheelharp</h4>
        <a href="details.html">
            <img src="images/wheelharp.png" alt="Wheelharp" width="110" height="110" border="0">
        </a>
        <p>$78.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
    <div class="product">
        <h4>Zeusaphone</h4>
        <a href="details.html">
            <img src="images/zeusaphone.png" alt="Zeusaphone" width="110" height="110" border="0">
        </a>
        <p>$1,449.99</p>
        <p><a href="details.html">Details</a></p>
    </div>
</div>
 @*@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
