@model OnADifferentNote.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="subhead">
    <p>Impress all your hipster friends with our far-from-mainstream instruments</p>
</div>
<div class="content">
    <p>Tired of always being overshadowed by the latest hipster who can play the ukelele? Feeling like coffeehouses are being dominated by bearded plaid plucking a banjo?</p>
    <p>No longer. <span class="special">On a Different Note</span> offers you the chance to outshine all those folksy hipsters with instruments so obscure, no one will be able to accuse you of being "mainstream."</p>
    <p>Start your year off on a different note, by buying one of our exciting musical <a href="products.html">instruments</a>.</p>
    <div class="zipcode">
        <p>Enter your zip code here for more <span class="special">localized specials</span>:</p>
        <input type="text" id="zipCode" placeholder="Zip code...">
        <input type="button" id="zipCodeButton" value="Go" />
    </div>
</div>
